<ion-view view-title="Jeux de ??Victor??">
  <ion-content class="padding">

    <div class="list">
      <div class="item ">
        <div class="row">
          <div class="col col-20 echange">
            <img src="img/game/witcher.png" alt="">
          </div>
          <div class="col col-65">
            <h3>The Witcher</h3>
            <p>Année 2000</p>
            <p>Rate ******</p>
            <a href="" class="button button-balanced">
              Proposer un eXchange
            </a>
          </div>
          <div class="col col-15">
            <div class="col col-top">
              <a href="#/gameinfo" class="button button-calm icon ion-information"></a>
            </div>
            <div class="col-bottom">
              <a href="#/chat" class="button button-calm icon ion-chatbox"></a>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
