<ion-view view-title="Amis">
  <ion-content class="padding">

<div class="list">
  <div class="item  item-avatar item-thumbnail-left item-button-right">
    <img src="img/game/witcher.png" alt="">
    <h3>Luc Ferrand</h3>
    <p>Jeux : 12</p>
    <p>Nbr d'exchange : 5</p>
    <p>Exchange: 10</p>
      <a href="#/friendsgames" class="button button-positive" style="height: 80%;">
      Voir ses jeux
      </a>
  </div>

  <div class="item item-thumbnail-left">
    <img src="img/game/witcher.png" alt="">
  </div>
</div>

  </ion-content>
</ion-view>
