<ion-view title="GameInfo">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-60">
        <h3>The Witcher 3: Wild Hunt</h3>
        <img style="width: 150px;" src="img/game/witcher.png" alt="">
        <h5>Ratting : 96 / 100 </h5>
        <h5>Description : </h5>
        <p>The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.</p>
      </div>
      <div class="col col-40">
        <p><strong>Average Price : </strong><br><span class="greycolor"> 30€</span></p>
        <p><strong>Released date : </strong><br><span class="greycolor"> 2015-May-19</span></p>
        <p><strong>Time to beat : </strong><br><span class="greycolor"> +50h</span></p>
        <p><strong>Platforms: </strong><br><span class="greycolor"> PC, PlayStation 4, Xbox One</span></p>
        <p><strong>Genre: </strong><br><span class="greycolor"> Role-playing (RPG), Adventure </span></p>
        <p><strong>GameModes: </strong><br><span class="greycolor"> Single player</span></p>
        <p><strong>Player perspectives: </strong><br><span class="greycolor"> Third person </span></p>
        <p><strong>Publisher : </strong><br><span class="greycolor"> Warner Bros Interactive Entertainment, Bandai Namco Entertainment</span></p>
      </div>
    </div>

    <div class="row">

    </div>
    <div class="row">
      <div class="col col-50">

      </div>
      <div class="col col-50">

      </div>
    </div>

  </ion-content>
</ion-view>
