
<ion-view  title="Mes eXchange">
  <div  class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item">En attente</a>
      <a class="tab-item">En cours</a>
      <a class="tab-item">Términé</a>
    </div>
  </div>
  <ion-content  style="margin-top:50px ">
    <ion-list>
      <ion-item class="card">

        <div class="row">
          <div class="col col-20">
            <div class="col col-top">
              <p>Victor Chanson</p>
            </div>
            <div class="col col-bottom">
              <img style="width: 80px; height: 80px; float: left;" src="img/game/witcher.png">
            </div>
          </div>

          <div class="col col-60">
            <div class="col col-top text-center"><strong>The Witcher vs The witcher</strong></div>
            <div class="col col-center text-center"><a href="#" class="button button-balanced"><i class="icon ion-shuffle"> </i>eXchanger</a></div>
            <div class="col col-bottom text-center"><a href="#" class="button button-energized"><i class="icon ion-chatbox"> </i>Discussion</a></div>
          </div>

          <div class="col col-20">
            <div class="col col-top">
              <p>Fabien</p>
            </div>
            <div class="col col-bottom">
              <img style="width: 80px; height: 80px; float: left;" src="img/game/witcher.png">
            </div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>




<!--
<ion-view view-title="Match">
  <ion-content class="padding">

    <div class="list">
      <div class="item ">
        <div class="row">
          <div class="col col-40 echange">
            <img src="img/game/witcher.png" alt="">
            <i style="font-size: 2em; align-items: center; vertical-align: middle ;" class="icon ion-shuffle"></i>
            <img src="img/game/witcher.png" alt="">
          </div>
          <div class="col col-45">
            <h3>Victor chanson</h3>
            <p>Date de Echange</p>
<h2>Status de l'échange : <br> En cours</h2>
          </div>
          <div class="col col-15">
            <div class="col col-top">
              <a href="#/chat" class="button button-calm icon ion-settings"></a>
            </div>
            <div class="col-bottom">
              <a href="#/chat" class="button button-calm icon ion-chatbox"></a>
            </div>
        </div>
        </div>
      </div>

  </ion-content>
</ion-view>
-->
