
<ion-view  title="Mes eXchange">
  <div  class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item">En attente</a>
      <a class="tab-item">En cours</a>
      <a class="tab-item">Términé</a>
    </div>
  </div>
  <ion-content  style="margin-top:50px ">
    <ion-list>
      <ion-item class="card">

        <div class="row">
          <div class="col col-20">
            <div class="col col-top">
              <p>Victor Chanson</p>
            </div>
            <div class="col col-bottom">
              <img style="width: 80px; height: 80px; float: left;" src="img/game/witcher.png">
            </div>
          </div>

          <div class="col col-60">
            <div class="col col-top text-center"><strong>The Witcher vs The witcher</strong></div>
            <div class="col col-center text-center"><a href="#" class="button button-dark"><i class="icon ion-settings"> </i>Paramètres</a></div>
            <div class="col col-bottom text-center"><a href="#" class="button button-energized"><i class="icon ion-chatbox"> </i>Discussion</a></div>
          </div>

          <div class="col col-20">
            <div class="col col-top">
              <p>Fabien</p>
            </div>
            <div class="col col-bottom">
              <img style="width: 80px; height: 80px; float: left;" src="img/game/witcher.png">
            </div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


